.section-about {
    padding: 0 100px;
    
    .section-about-header {
        padding: 20px 10px;
        font-size: 30px;
        font-weight: 500;
    }

    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                text-align: justify;
                font-style: italic;
                padding: 15px;
            }
        }
    }
}