.user-container {
    .title {
    
    }

    .user-table {
      table {
        border-radius: 1em;
      }
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            border-radius: 10px;
          }
          
          #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
          }
          
          #customers tr:nth-child(even){background-color: #f2f2f2;}
          
          #customers tr:hover {background-color: #ddd;}
          
          #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
          }
    }
}

.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;

  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}

.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: red;

  &:hover {
    background-color: transparent !important;
    color: red !important;
  }
}

.modal-user {
  margin-top: 200px;

  .modal-body-content {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 49%;

      &.max-width-input {
        width: 100%;
      }

      input {
        outline: none;
        border-radius: 3px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid grey;
        box-shadow: 0 1px 1px rgba(grey, 0.2);
        padding: 10px 10px;
      }

      input::placeholder {
        font-size: 12px;
        font-style: italic;
      }
    }
  }

  .modal-content {
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(black, 0.2);

    .modal-header {
      border-radius: 18px 18px 0 0;
      h5 {
        justify-content: center;
          text-align: center;
      }

      .close {
        outline: none;
        background-color: transparent;
        color: black;
        border: none;
        font-size: 40px;
      }

      .close:hover {
        color: red;
      }
    }
  }
}