.login-background {
    height: 100vh;
    background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);

    .change-lang {
        display: flex;
        float: right;

        .lang-vi {
            margin: 20px;
            background: url("../../assets/images/flagVN.png");
            width: 50px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            box-shadow: 2px 4px #888888;
        }

        .lang-en {
            margin: 20px;
            background: url("../../assets/images/flagUK.png");
            width: 50px;
            height: 30px;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            box-shadow: 2px 4px #888888;
        }
    }

    .login-container {
        width: 400px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        height: 450px;
        box-shadow: 1px 5px grey;

        .login-content {
            padding: 10px;

            .text-login {
                text-align: center;
                font-weight: 600;
                font-size: 30px;
                padding-top: 10px;
            }

            .login-input {
                margin: 20px 0;

                input {
                    border-radius: 24px;
                }

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
                font-size: 20px;
                color: white;
                font-weight: 300;
            }

            .register {
                cursor: pointer;
            }

            .forgot-password {
                font-size: 12px;
                color: grey;
                cursor: pointer;
            }

            .social-login {
                display: flex;
                justify-content: center;
                margin-top: 10px;

                .google {
                    font-size: 35px;
                    color: white;
                    background-color: red;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    cursor: pointer;
                }

                .facebook {
                    font-size: 30px;
                    color: white;
                    background-color: #307aaf;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
}
