.home-header-container {
    height: 60px;
    width: 100%;
    padding: 0 20px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10000;
    
    .home-header {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;

            .menu-icon {
                font-size: 20px;
                color: grey;
                cursor: pointer;
                padding: 15px;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-content {
                padding: 10px;

                .sub-title {
                    font-size: 10px;
                    color: grey;
                }
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;

            .flag-vietnamese {
                cursor: pointer;
                opacity: 0.2;
                padding: 10px;
                transition: width 2s, height 2s, transform 1s;

                &.active {
                    color: orange;
                    font-size: 17px;
                    opacity: 1;
                }
            }

            .flag-vietnamese:hover {
                opacity: 1;
                font-size: 20px;
                transform: rotateZ(360deg);
            }

            .flag-english {
                cursor: pointer;
                opacity: 0.2;
                padding: 10px;
                transition: width 2s, height 2s, transform 1s;

                &.active {
                    color: orange;
                    font-size: 17px;
                    opacity: 1;
                }
            }

            .flag-english:hover {
                opacity: 1;
                font-size: 20px;
                transform: rotateZ(360deg);
            }
        }
    }
}
